{
  "a3ServerRoot": "C:\\Arma3Server",
  "a3ClientRoot": "D:\\SteamLibrary\\steamapps\\common\\Arma 3",
  "localServerDir": "C:\\Users\\matth\\Documents\\Arma 3 - Other Profiles\\Face\\local_server",
  "missionName": "CTB_FAC_FADE.Altis",
  "port": 2302,
  "bootTimeoutSec": 600,
  "compileTimeoutSec": 900,
  "playthroughTimeoutSec": 1800
}
